<form rx-form id="itemsPerPageForm" class="itemsPerPage">
    <rx-form-section>
        <div></div>
        <rx-field>
            <rx-field-content>
                <rx-input>
                    <rx-prefix>{{ label }}</rx-prefix>
                    <select rx-select name="itemsPerPageSelector" id="itemsPerPageSelector" ng-model="pagerObject.itemsPerPage" ng-change="updatePaging()">
                        <option ng-repeat="i in pagerObject.itemSizeList">{{ i }}</option>
                    </select>
                </rx-input>
            </rx-field-content>
        </rx-field>
        <div></div>
    </rx-form-section>
</form>
