<div class="data-table">
    <div class='alert' ng-show="updateFieldStatus" ng-class="{'loading': updateFieldStatus.status == 'saving', 'success': updateFieldStatus.status == 'success', 'error': updateFieldStatus.status == 'error'}">
        {{ updateFieldStatus.message }}
    </div>
    <div class="data-info-row">
        <strong ng-if="!pager.showAll">{{pager.first}} - {{pager.last}} of <span class='total-data-items'>{{pager.total}} {{ itemName && itemName || 'Items' }}</span></strong>
        <div class="data-table-config-container" ng-if="enableColumnReordering||enableColumnMultiSort" ng-class="{'dropdown-shown': configurationVisible}">
            <button class="btn-link" ng-click="toggleVisibility()">
                <i class="fa fa-table data-table-config-icon" title="Configure Data Table"></i>
            </button>
            <div class="data-table-config reveal-animation" ng-show="configurationVisible">
                <div class="header" ng-if="enableColumnMultiSort">Sorting</div>
                <div class="data-table-multi-sort" ng-if="enableColumnMultiSort">
                    <div class="data-config-row">
                        <div class="multi-sort-select header">Column</div>
                        <div class="multi-sort-reverse-icon header">Dir</div>
                        <div class="multi-sort-remove-icon header"><span ng-show="predicate.length > 1">Rem</span></div>
                    </div>
                    <div class="data-config-row" ng-repeat="pred in predicate" ng-init="predColumn = decompilePredicateString(pred)">
                        <div class="multi-sort-select">
                            <select name="sort-{{$index}}" ng-model="predColumn.column" ng-change="updatePredicate($index, predColumn.column)">
                                <option ng-repeat="column in getConfig() | UnusedSorts:predicate:predColumn.column" value="{{ getSortField(column) }}" ng-selected="getSortField(column) == predColumn.column">{{ column.title }}</option>
                            </select>
                        </div>
                        <button class="btn-link multi-sort-reverse-icon" ng-click="reversePredicate($index)">
                            <i class="fa" ng-class="{'fa-sort-amount-asc': !parseReverseSort(predColumn.column, predColumn.reverse), 'fa-sort-amount-desc': parseReverseSort(predColumn.column, predColumn.reverse)}"></i>
                        </button>
                        <div class="multi-sort-remove-icon">
                            <button class="btn-link" ng-click="removePredicate($index)">
                                <i class="fa fa-times" ng-if="predicate.length > 1"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn-link multi-sort-add" ng-if="canAddNewMultiSort()" ng-click="predicate.push('')">
                        Add New Sort
                    </button>
                </div>
                <div class="header" ng-if="enableColumnReordering">Column Configuration</div>
                <div class="data-table-column-display" ng-if="enableColumnReordering">
                    <div class="data-config-row">
                        <div class="header">Column Presets</div>
                    </div>
                    <div class="data-config-row column-preset-row">
                        <select ng-options="preset.value as preset.text for preset in getColumnPresetSelects()" ng-model="columnDisplay.index"></select>
                    </div>
                    <div class="data-config-row">
                        <div class="header">Column Order</div>
                    </div>
                    <div class="data-config-row" ng-repeat="column in getConfig()">
                        <div class="data-config-column-title">
                            {{ column.title }}
                        </div>
                        <div class="column-order-arrows">
                            <button class="btn-link btn-move-down" ng-if="!$last" ng-click="moveColumnDown($index)">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                            <button class="btn-link btn-move-up" ng-if="!$first" ng-click="moveColumnUp($index)">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </div>
                        <div class="column-hide-display">
                            <button class="btn-link" ng-click="removeColumn($index)">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="data-config-row" ng-if="getAvailableColumns().length > 0">
                        <div class="header">Available Columns</div>
                    </div>
                    <div class="data-config-row column-show-columns" ng-if="getAvailableColumns().length > 0">
                        <select ng-model="addColumn.index" ng-options="column.value as column.text for column in getAvailableColumns()">
                        </select>
                        <button ng-click="showColumn(addColumn.index)" class="button button-tiny">add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data-header">
        <div class="data-header-cell data-column-{{ $index + 1 }} flex-columns-{{ column.cols }}" ng-repeat="column in getConfig()" data-title="{{ column.title && column.title || column.dataField }}" ng-class="sortClass(column, $index)">
            <span class="checkbox-span" ng-if="column.checkbox && column.checkAll">
                <input ng-click="checkAll(this)" type="checkbox" id="check_all_checkbox">
            </span>
            <button ng-if="!column.checkbox" ng-click="sort($event, column)" class="btn-link data-link">
                <span class='data-header-cell-content'>{{ column.title }}</span>
                <i ng-if="column.help" class="fa fa-question-circle" data-popover="{{ column.help.body }}" data-popover-title="{{ column.help.title }}" data-trigger="focus"></i>
                <i class="fa fa-chevron-down" ng-show="sortedBy(column, true)"></i>
                <i class="fa fa-chevron-up" ng-show="sortedBy(column)"></i>
            </button>
        </div>
    </div>
    <div class="data-row data-row-{{ $index + 1}}" ng-repeat="row in listOfData() | orderBy:predicate | Paginate:pager track by row[rowKey]||$index" data-row-key="{{row[rowKey]}}" ng-class="rowClass(row)">
        <div class="data-cell flex-columns-{{ column.cols }} data-column-{{ $index + 1}} {{ column.class }}" ng-repeat="column in getConfig()" data-title="{{ column.title }}" ng-class="getNGClass(column, row)">
            <div ng-if="column.checkbox" class="checkbox">
                <input type="checkbox" value="{{ row[column.dataField] }}" ng-click="clickAction('{{ row[column.dataField] }}')" id="checkbox_{{ row[column.dataField] }}">
            </div>
            <div ng-if="!column.checkbox">
                <i ng-repeat="icon in iconUnwrap(column, row, 'i')" class="data-table-cell-icon {{ icon.name }}"></i>
                <div ng-repeat="icon in iconUnwrap(column, row, 'div')" class="data-table-cell-icon {{ icon.class }}" alt="{{ icon.alt }}"></div>
                <a ng-if="column.linkField && hasValue(row, column)" href="{{ row[column.linkField] }}" class="data-cell-content" target="_blank">{{ row | ColumnValue:column }}</a>
                <span ng-if="!column.linkField && hasValue(row, column)" class="data-cell-content">
                    <span ng-if="!allowEditing(column,row)">{{ row | ColumnValue:column:false }}</span>
                    <span ng-if="allowEditing(column,row)" class="data-editable">
                        <span ng-switch="getEditType(column, row)">
                            <span ng-switch-when="select" class="data-editable-field" editable-select="row[column.dataField]" e-ng-options="o.value as o.text for o in getEditableOptions(column, row)" buttons="no" onbeforesave="updateField(column, row, $data, this)">{{ row | ColumnValue:column }}</span>
                            <span ng-switch-when="typeahead" class="data-editable-field" editable-text="row[column.dataField]" e-typeahead="o.value as o.text for o in getEditableOptions(column, row) | filter:$viewValue" e-typeahead-loading="loadingData" e-typeahead-on-select="updateField(column, row, $data, this)" buttons="no" onshow="getEditableOptions(column, row)">{{ row | ColumnValue:column }}</span>
                            <!-- Same as ng-switch-when="text" -->
                            <span ng-switch-default class="data-editable-field" editable-text="row[column.dataField]" onbeforesave="updateField(column, row, $data, this)">{{ row | ColumnValue:column }}</span>
                            <i class="fa fa-refresh data-table-type-loader" ng-show="loadingData"></i>
                            <button class="data-table-field-nullable btn-link" ng-if="column.editable.nullable" ng-click="nullField(column, row, this)" title="Remove {{ column.title }} Value">
                                <i class="fa fa-times fa-lg"></i>
                            </button>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="!pager.showAll" class="pagination-container" ng-show="pager.total > 0">
        <rx-data-table-paginate page-tracking="pager" />
    </div>
    <div ng-if="!pager.showAll" class="items-per-page-container" ng-show="pager.total > 0">
        <rx-data-table-items-per-page pager="pager" label="{{ itemName && itemName || 'Items'}} Per Page"/></rx-data-table-items-per-page>
    </div>
</div>
