<h1>{{title}}</h1>
<div class="bs-example">
    <rx-data-table
       row-key="colorName"
       column-configuration="dtConfig"
       list-of-data="dtData"
       column-display="dtColumnDisplay"
       column-presets="dtColumnPresets"
       predicate="dtDefaultSort">
    </rx-data-table>
</div>
<div class="highlight">
    <pre class="html">
        &lt;!--This is your HTML Template for this Table--&gt;
        &lt;rx-data-table
            row-key="colorName"
            column-configuration="dtConfig"
            list-of-data="dtData"
            column-display="dtColumnDisplay"
            column-presets="dtColumnPresets"
            predicate="dtDefaultSort">
        &lt;/rx-data-table&gt;
    </pre>
</div>
<h3>The Data on the Controller Should look like:</h3>
<pre>
$scope.dtConfig = <span ng-bind-html="dtConfig | JSONPrint:true"></span>;
$scope.dtData = <span ng-bind-html="dtData | JSONPrint:true"></span>;
$scope.dtColumnPresets = <span ng-bind-html="dtColumnPresets | JSONPrint:true"></span>;
$scope.dtColumnDisplay = <span ng-bind-html="dtColumnDisplay | JSONPrint:true"></span>;
$scope.dtDefaultSort = <span ng-bind-html="dtDefaultSort | JSONPrint:true"></span>;
</pre>
